# Build outputs
**/Debug/
**/*.out
**/*.bin
**/*.map
**/*.obj
**/*.o
**/*.d
**/*.elf

# IDE/temporary files
**/*.ccxml
**/*.ini*
RemoteSystemsTempFiles/

# Python
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# IDE metadata
.metadata/
.jxbrowser.userdata/
