# Ignore build outputs
**/Debug/
**/*.out
**/*.bin
**/*.map
**/*.obj
**/*.o
**/*.d

# Ignore IDE/temporary files
**/*.ccxml
**/*.ini*
RemoteSystemsTempFiles/

# Python junk
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# IDE metadata folders
.metadata/
.jxbrowser.userdata/

# Ignore metadata and user data folders inside FinalProject
FinalProject/.metadata/
FinalProject/.jxbrowser.userdata/
